@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #ad1f2f; /* Custom primary color */
  --secondary: #30ad1f; /* Custom secondary color */
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}
